@media (min-width: 800px) {
body {
  
    /*background-image: url("./img/a.jpg");*/
      background-size:cover;
      background-color: rgb(250, 250, 250);
      background-repeat:no-repeat;
      overflow: hidden;
}
.cde2{
    margin-left:70%;
   
    display:block;
    width:300px;
    height:250px;
    background:rgba(0, 0, 0, 0.5);
    border-radius:10px;
    padding:30px 10px; 
    margin-top:20%;
}
.wrt1
{   position:fixed;
    font-family:Courier;
    top:0px;
    margin-top: 4%;
    margin-left: 55%;
    color:'white';
}
.thx
{   position:fixed;
    font-family:Georgia, 'Times New Roman', Times, serif;
    top:0px;
    margin-top: 15%;
    margin-left: 60%;
    color:'white';
}
}

@media(max-width: 800px) {
  body {
      /*background-image: url("./img/a.jpg");*/
      background-size:cover;
      background-color: black; 
      background-repeat:no-repeat;

  }
  .cde1{
      margin-left:50%;
     margin-right: 20;
      display:block;
      width:150px;
      height:125px;
      background:rgba(0, 0, 0, 0.5);
      border-radius:10px;
      padding:30px 10px; 
      margin-top:20%;
  }
}

@media (max-width: 3200px) {
    .content{
       margin-left: 42em;
overflow-y:hidden;
    }
}
@media (max-width: 600px) {
    .content{
       margin-left: 5em;
overflow-y:hidden;
    }
}
.abc
{
    width:100%;
    text-align:center;
    padding-top: 20px;
    padding-left: 70px;
    display: inline-flex
}
.xyz
{
    display: -webkit-inline-box;
}
.det{
    width:100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    padding-top: 30px;
    padding-left:550px;
    display: inline-flex;
}
.ed{
    display:inline-flex;
}
.img
{
   

    top: 0px;
    width: 100px;
    height: 100px;
    margin-top: 1%;
    margin-left: 23%;
    background-image: url("./img/1.jpg");
    background-size:cover;
    

}
.bttn
{
    background-color: rgb(96, 204, 223);
    width: 90px;
    height: 50px;
    position:fixed;
    margin-left: 800px;
    margin-top: 20px;

}
.table
{   width: 90%;
    height: 90%;
    margin-left: 30px;
   
    
}

  
  .link {
    width: 100px;
    /*border-right: 1px solid gray;
    padding: 10px;*/
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  
  .menu {
    opacity: 0;
   position: absolute;
    top: 40px;
    left: 0;
    background: #fffcfc;
   /* border: 1px solid gray;
    padding: 10px;*/
    text-align: center;
    transition: all 1000ms ease;
  }
  
  .menu.open {
    opacity: 1;
  }
  
  ul {

    margin-left: 754px;
    margin-top: 5px;
    list-style: none;
  }

.bttn1
{
    background-color: aqua;
    width: 70px;
    height: 40px;
    margin-left: 800px;
  
}
.bttn2
{
    background-color: rgb(23, 129, 148);
    

}
h1 {
    margin: 0;
    padding: 0;
  }
  html, body, .app {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
  }
 
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup1 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup2{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }
  .popup_inner1 {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }
  .popup_inner2 {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }
  .acc
  {
    background-color: rgb(23, 129, 148);
   margin-left: 250px;
    margin-top:70px; 
  }
  .dcc
  {
    background-color: rgb(23, 129, 148);
    margin-left:100px;
    margin-top:70px; 
  }